{% extends 'base.html.twig' %}

{% block main %}


    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">

                <h1 class="jumbotron-heading">Category - {{subcategories.currentCategoryName}}</h1>
                <div class="btn-group">
                    <div class="dropdown ml-2">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Subcategories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ul class="mr-5">
                            </ul>
                        </div>
                        <li><a href="{{path('video_list',{'category':subcategories.mainParentName|slugify|lower, 'id':subcategories.mainParentId})}}">{{subcategories.mainParentName}}</a></li>
                        {{subcategories.categorylist|raw}}

                    </div>
                    <div class="form-row align-items-center ml-3">

                {{ include('includes/__sort.html.twig') }}
                </div>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">

            {{ include('includes/__videos.html.twig', {'videos' : videos } ) }}
            </div>
        </div>
        {{ knp_pagination_render(videos) }}
    </main>
{% endblock %}
